<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         
          
       
     
      <div class="row">
          
          <div class="col-lg-22 col-md-12">
            
              <div class="card">
                  <div class="card-header card-header-warning">
                    <button (click)="navigate()" type="button" class="btn btn-danger">Ajouter</button>
                      <h4 class="card-title">Emlopyees de la societé</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Post</th>
                              <th>Numero Place</th>

                          </thead>
                          <tbody>
                            
              
                           
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

